.navbar img{
    width: 3em;
}
.nav-top{
    background-color: rgb(47, 47,114) !important;

}
.nav-menu   {
    color: white !important;
    background-color: #37cfcf !important;
    margin: 0.3em !important;
    border-radius: 0.3em !important;
}
.btn-pesquisa{
    color: white !important;
    background-color: #37cfcf !important;
    border-radius: 0.3em !important;
    border-color: rgb(47, 47,114) !important;
    font-weight: bold !important;
}
.img-car{
    max-height: 30em !important;
}

.carousel-caption{
    background-color: #37cfcf94 !important;
    width: auto !important;
    color: black !important;
}
.divisao{
    background-color: rgb(47, 47, 114) !important;
    color: white !important;
    text-align: center !important;
    padding: 5% !important;
}
.sec-pacotes{
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 0.5% !important;
}
.card{
    margin-left: 1em !important;
    padding: 1em !important;
}
.img-social{
    width: 3em;
    margin-left: 3em;

}
.social{
    color: black;
    text-decoration: none;
}
.content-social{
    margin-left: 10em;
}
.content-line{
        margin-bottom: 2em;

}
.map{
    text-align: center;
}
.content-row1{
    border-radius: 2%;
    padding: 1em;
    flex: 1;
    margin: 0.5em;
    border: 1px solid black
}
.content-row2{
    border-radius: 2%;
    padding: 1em;
    flex: 1;
    margin: 0.5em;
    border: 1px solid black;
}